{% extends "base.html.twig"%}

{% block body %}

        {% set var1 = "true" %}
        {% set var2 = ["Homme","Femme"] %}

        <section id="banner" class="major">
            <div class="inner">
                <form id="register" method="POST">
                    <header class="major">

                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="field half">
                            <label for="name">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="field half">
                            <label for="name">Password</label>
                            <input type="password" name="password" id="password">
                        </div>
                        <div class="field half">
                            <label for="sexe">Sexe</label>
                            {% for sexe in var2 %}
                                <input type="radio" name="sexe" value="{{sexe}}"> {{ sexe }}
                                <br>
                            {% endfor %}
                        </div>

                    </header>
                    <div class="content">
                        <p>A responsive site template designed by HTML5 UP<br />
                        and released under the Creative Commons.</p>
                        <ul class="actions">
                            {# <li><a href="#one" class="button next scrolly">Get Started</a></li> #}
                            <li><button type="submit" class="button next scrolly">Get Started</a></li>
                            
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    
{% endblock %}

{% block script %} 
    <script>
        $(function(){
            $("#register").submit((e) => {
                e.preventDefault(); // Cancelling thr native event of the tag 
                let dataUser = $("#register").serialize(); // Converting input data to string 
                $.post("{{ path('register') }}", dataUser, (data) => {
                    setTimeout(() => {
                        document.location.href = "{{ path('login')}}"; // Redirect
                    }, 2000);
                });
            })
        });
    </script>
    
{% endblock %}
