<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('add-event') }}">Add event</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="{{ path('logout') }}" class="button primary fit">Logout</a></li>
    </ul>
</nav>